* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0eee9;
    color: #694a47;
}

h1{
    font-family: 'Chango', cursive;
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Chelsea Market', sans-serif;
    display: flex;
    justify-content: center;
}
